:root{
    --cor-fundo: #ec0da9e0 ;
    --cor-principal: #b637f1 ;
    --cor-secundaria: #f33b5a; 
    --cor-destaque: #8d1479d0;
    --cor-texto: #D7F9FF;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
